
#contacto {
    border-top: 4px solid #f9a2ed;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

div {
    form {
        .form {
            margin: auto;
            background-color: #fff;
            max-width: 1000px;
            padding: 30px;
            margin-top: 20px;
            box-shadow: 0px 0px 3px grey;
            border-radius: 6px;
            box-sizing: border-box;
        
        }
        
        
        h2 {
            color: #f9a2ed;
            text-align: center;
            margin: 0;
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
}

div {
    div{
        div{
            input, textarea {
                font-size: 16px;
                color: #f9a2ed;
                width: 100%;
                border: none;
                border-bottom: 1px solid #f9a2ed;
                outline: none;
                padding: 15px;
            }
            
        }
    }
}

